amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
blinker==1.4
celery==5.2.2
Click==7.0
Flask==2.2.5
Flask-Mail==0.9.1
itsdangerous==1.1.0
Jinja2==2.11.3
kombu==3.0.37
MarkupSafe==1.1.0
pytz==2018.7
redis==2.10.3
vine==1.1.4
Werkzeug==2.3.8
